*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*.pdf

*.doc
*/*.doc
*/*/*.doc
*/*/*/*.doc
*/*/*/*/*.doc

*.docx
*/*.docx
*/*/*.docx
*/*/*/*.docx
*/*/*/*/*.docx

*.pptx
*/*.pptx
*/*/*.pptx
*/*/*/*.pptx
*/*/*/*/*.pptx
